.App-logo {
  position: absolute;
  height: 150px;
  /* pointer-events: none; */
  width: 150px;
  border-radius: 150px;
  left: 175px;
  top: -75px;
  border: 1px solid #999;
  background-color: #364155;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*   
.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login{
  position: relative;
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.login .loginForm{
  width: 80%;
  margin-top:100px;
  text-align: center;
}
